.no-js #loader { display: none; }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loading.gif) center no-repeat #fff;
}
body {
	overflow: hidden;
	font-family: "Helvetica", "Arial", "Microsoft JhengHei", "微軟正黑體";
    @media (max-width: $pc) {
        width: 1024px;
    }

}
.dark_bg {
	width: 100%;
    height: 100%;
    display: inline-block;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    background: #333;
}
.global-main{
	width: 1024px;
	height: 570px;
	margin: 0 auto;
	margin-top: 60px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	width: 100%;
	@media (max-width: $pc) {
        margin-top: 0px;
    }
}
.all_area {
	width: 4096px;
	height: 570px;
	position: absolute;
	top: 0px;
	transition: all 1.5s ease-in-out;
}
.all_bg {
	background: url('../images/bg5.jpg');
	background-size: 100%;
	background-position: 50% 100%;
	width: 4096px;
	height: 570px;
	position: absolute;
	top: 0px;
	transition: all 1.5s ease-in-out;
	transform: scale(1);
	z-index: -1;
	&.active{
		transform: scale(1.2);
		top: -57px;
	}
}
.BG_left {
	background: url('../images/BG_left.jpg');
	background-size: 100%;
    background-position: 50% 100%;
	width: 512px;
	height: 570px;
	position: absolute;
	top: 0px;
	z-index: -1;
	&:before {
		content: '';
	    background: rgba(51, 51, 51, 0.8);
	    width: 100%;
	    height: 100%;
	    display: inline-block;
	    position: absolute;
	    z-index: 10;
	    display: block;
	    transition: all 1s ease-in-out;
	}
}
.BG_right {
	background: url('../images/BG_right.jpg');
	background-size: 100%;
    background-position: 50% 100%;
	width: 512px;
	height: 570px;
	position: absolute;
	top: 0px;
	z-index: -1;
	&:before {
		content: '';
	    background: rgba(51, 51, 51, 0.8);
	    width: 100%;
	    height: 100%;
	    display: inline-block;
	    position: absolute;
	    z-index: 10;
	    display: block;
	    transition: all 1s ease-in-out;
	}
}

.broad {
	background: url('../images/cost/titleSmall.png');
    width: 180px;
    height: 90px;
    // background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px;
    position: absolute;
    bottom: -180px;
	left: 1060px;
	z-index: 1;
}
.topic_cost {
	background: url('../images/cost/請選擇要繳費的項目.png');
    width: 280px;
    height: 80px;
    // background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px;
    position: absolute;
    bottom: 60px;
	left: 1550px;
	transform: scale(0);
	transition: all 0.5s ease-in;
	&.active {
		transform: scale(1);
	}
}
.topic_tax {
	background: url('../images/tax/請選擇要繳稅的項目2.png');
    width: 280px;
    height: 80px;
    // background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px;
    position: absolute;
    bottom: 60px;
	left: 3300px;
	transform: scale(0);
	transition: all 0.5s ease-in;
	&.active {
		transform: scale(1);
	}
}
.car_1 {
	background: url('../images/cost/car1.png');
    width: 4096px;
    height: 80px;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    bottom: 110px;
    left: 0px;
    z-index: -1;

    -webkit-animation-duration: 30s;
    animation-duration: 30s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: car_right;
    animation-name: car_right;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    // -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    // animation-direction: alternate;
}
.car_2 {
	background: url('../images/cost/car2.png');
    width: 4096px;
    height: 80px;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    bottom: 110px;
    left: 0px;
    z-index: -1;

    -webkit-animation-duration: 25s;
    animation-duration: 25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: car_left;
    animation-name: car_left;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    // -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    // animation-direction: alternate;
}
.policeCar {
	background: url('../images/tax/policeCar.png');
    width: 4096px;
    height: 80px;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    bottom: 100px;
    left: 0px;
    z-index: -1;

    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: car_right;
    animation-name: car_right;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    // -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    // animation-direction: alternate;
}

footer {
	width: 900px;
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -450px;
	text-align: center;
	color: #ddd;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: .5px;
	.addr {
		margin-right: 50px;
	}
}
@-webkit-keyframes car_left {
    from {
        -webkit-background-position: -10% 0;
        background-position: -10% 0;
        visibility: visible;
    }
    to {
        -webkit-background-position: 110% 0;
        background-position: 110% 0;
    }
}

@keyframes car_left {
    from {
        -webkit-background-position: -10% 0;
        background-position: -10% 0;
        visibility: visible;
    }
    to {
        -webkit-background-position: 110% 0;
        background-position: 110% 0;
    }
}
@-webkit-keyframes car_right {
    from {
        -webkit-background-position: 110% 0;
        background-position: 110% 0;
        visibility: visible;
    }
    to {
        -webkit-background-position: -10% 0;
        background-position: -10% 0;
    }
}

@keyframes car_right {
    from {
        -webkit-background-position: 110% 0;
        background-position: 110% 0;
        visibility: visible;
    }
    to {
        -webkit-background-position: -10% 0;
        background-position: -10% 0;
    }
}
