.global-nav{
	width: 100%;
	background: #fff;
	height: 60px;
	box-shadow: 0px 3px 8px rgba(98, 107, 116, 0.5);
	position: fixed;
	top:0px;
	z-index: 1;
	@media (max-width: $pc) {
        position: relative;
    }
	.container {
		min-width: 1024px;
		margin: 0px auto;
		position: relative;

		.logo {
		    background: url('../images/logo.png');
		    width: 200px;
		    height: 50px;
		    background-size: 100%;
		    display: inline-block;
		    text-indent: -9999px;
		    position: relative;
		    top: 5px;
		    left: 20px;
		}
		.menu {
			position: absolute;
			top: 5px;
			right: 20px;
			li {
				list-style: none;
				float: left;
				padding: 0px 10px;
				border-right: 1px solid #888;
				color: #4791dd;
				cursor: pointer;
				transition: all 0.3s ease-in-out;
				&:nth-last-child(1){
					border-right: 0px;
				}
				&:hover {
					color: #f25a5a;
				}
			}
		}
	}

}


html[lang=en]{
    
}