/* Author Nick. */

/* Variables */

// ***********************
// prefix
// ***********************
$preAuthor: 'n';
$pre: 'sample-';

// ***********************
// font size
// ***********************
$f20ppx: 125%;
$f19ppx: 120%;
$f18ppx: 112.5%;
$f17ppx: 105%;
$f16ppx: 100%;
$f15ppx: 95%;
$f14ppx: 87.5%;
$f13ppx: 80%;
$f12ppx: 75%;
$f11ppx: 70%;
$f10ppx: 62.5%;

$f20px: 20px;
$f19px: 19px;
$f18px: 18px;
$f17px: 17px;
$f16px: 16px;
$f15px: 15px;
$f14px: 14px;
$f13px: 13px;
$f12px: 12px;
$f11px: 11px;
$f10px: 10px;

// ***********************
// Viewport Size
// ***********************
$w3-small-size: 320px;
$w3-medium-size: 767px;
$w3-large-size: 1279px;
$w3-modal-size: 768px;

$pc: 1024px;
$tablet: 960px;
$mobile: 640px;
$ipad-portrait: 768px;
$ipad-landscape: 1024px;
$iphone5-portrait: 320px;
$iphone5-landscape: 568px;
$iphone6-portrait: 375px;
$iphone6-landscape: 667px;
$iphone6Plus-portrait: 414px;
$iphone6-landscape: 736px;
$full: 100%;
$max-width: 1440px;

// ***********************
// color
// ***********************
$DFColor_Black: #333333;
$DFColor_White: #ffffff;
$DFColor_Grey: #cccccc;
$DFColor_LightGrey: #efefef;
$DFColor_SkyBlue: #00a9ba;
$DFColor_LightRosy: #ffeddf;


$DFColor_Orange: #FFA346;
$DFColor_Blue: #80BFFF;
$DFColor_Rosy: #FF9673;
$DFColor_Yellow: #FFFFD9;
$DFColor_Green: #AADBB3;

// $DFColor_Gold: #BD8714;
// $DFColor_Grey: #ECECEC;
// $DFColor_Pink: #CD0A6E;
// $DFColor_Red: #FF4000;
// $DFColor_Warning: #EDEEF2;
// $DFColor_Brown: #4C3126;
// $DFColor_DarkPurple: #262335;
// $DFColor_LightPurple: #797586;

// ***********************
// shadow
// ***********************
$DFShadowNone: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
$DFShadow2px: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$DFShadow4px: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$DFShadow8px: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$DFShadow12px: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
$DFShadow16px: 0 16px 24px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
$DFShadow24px: 0 24px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
$DFShadowBottom: 0 4px 2px -2px rgba(0, 0, 0, 0.2);

// ***********************
// css sprite
// ***********************
// $icons-sprite-dimensions: true;
// $icons-spacing: 10px;
// @import "icons/*.png";
// @include all-icons-sprites;
// .icons-sprite{
//     display: inline-block;
// }

// ***********************
//  Font Family
// ***********************
$DFFont: "Helvetica", "Arial", "微軟正黑體", "Microsoft JhengHei", sans-serif;
$DFFontWeight_l: 300;
$DFFontWeight_b: 600;
$DFFontWeight_bb: 900;

// ***********************
// Google Font
// ***********************
// @import url(https://fonts.googleapis.com/css?family=Playfair+Display);
// @import url(https://fonts.googleapis.com/css?family=Dosis:400,300);
// @import url(https://fonts.googleapis.com/css?family=Roboto:300);
// $Playfair-Display: "Playfair Display", "Arial", "微軟正黑體", "Microsoft JhengHei", sans-serif;
// $Dosis: "Dosis", "Arial", "微軟正黑體", "Microsoft JhengHei", sans-serif;
// $Roboto: "Roboto", "Arial", "微軟正黑體", "Microsoft JhengHei", sans-serif;

// @import url(https://fonts.googleapis.com/css?family=Cardo:400,400italic);
// $Cardo: "Cardo", serif;