// *********************** 
// n- Class Css 
// ***********************

// width
@for $i from 1 through 20{
    $offset: 5;
    $unit: 5%;
    .#{$preAuthor}w#{$i*$offset} {
        width: #{$i*$unit} !important;
    }
}

// height
@for $i from 1 through 20{
    $offset: 5;
    $unit: 5%;
    .#{$preAuthor}h#{$i*$offset} {
        height: #{$i*$unit} !important;
    }
}

// margin-top、right、bottom、left、
@for $i from 0 through 20{
    $offset: 5;
    $unit: 5px;
    .#{$preAuthor}marginTop#{$i*$offset} {
        margin-top: $i*$unit  !important;
    }
    .#{$preAuthor}marginLeft#{$i*$offset} {
        margin-left: $i*$unit  !important;
    }
    .#{$preAuthor}marginBottom#{$i*$offset} {
        margin-bottom: $i*$unit !important;
    }
    .#{$preAuthor}marginRight#{$i*$offset} {
        margin-right: $i*$unit !important;
    }
    .#{$preAuthor}marginAll#{$i*$offset} {
        margin: $i*$unit $i*$unit $i*$unit $i*$unit !important;
    }
}


// padding-top、right、bottom、left、
@for $i from 0 through 20{
    $offset: 5;
    $unit: 5px;
    .#{$preAuthor}paddingTop#{$i*$offset} {
        padding-top: $i*$unit !important;
    }
    .#{$preAuthor}paddingLeft#{$i*$offset} {
        padding-left: $i*$unit !important;
    }
    .#{$preAuthor}paddingBottom#{$i*$offset} {
        padding-bottom: $i*$unit !important;
    }
    .#{$preAuthor}paddingRight#{$i*$offset} {
        padding-right: $i*$unit !important;
    }
    .#{$preAuthor}paddingAll#{$i*$offset} {
        padding: $i*$unit $i*$unit $i*$unit $i*$unit !important;
    }
}

// font-size
@for $i from 10 through 100{
    $offset: 5;
    $unit: 5%;
    .#{$preAuthor}fontSize#{$i*$offset} {
        font-size: $i*$unit !important;
    }
}

// line-height
@for $i from 10 through 60{
    $offset: 5;
    $unit: 5%;
    .#{$preAuthor}lineHeight#{$i*$offset} {
        line-height: $i*$unit !important;
    }
}

// font-weight
@for $i from 1 through 9{
    $offset: 100;
    $unit: 100;
    .#{$preAuthor}fontWeight#{$i*$offset} {
        font-weight: $i*$unit !important;
    }
}

// hr
@for $i from 1 through 10{
    $offset: 10;
    $unit: 10px;
    .#{$preAuthor}hr-#{$i*$offset} {
        @include nCustomHr(transparent);
        height: $i*$unit;
    }
}

// text-algin 
.#{$preAuthor}txtAlignLeft{
    text-align: left !important;
}
.#{$preAuthor}txtAlignCenter{
    text-align: center !important;
}
.#{$preAuthor}txtAlignRight{
    text-align: right !important;
}

// text-transform
.#{$preAuthor}txtUppercase {
    text-transform: uppercase !important;
}

.#{$preAuthor}txtLowercase {
    text-transform: lowercase !important;
}

.#{$preAuthor}txtCapitalize {
    text-transform: capitalize !important;
}

// font style
.#{$preAuthor}fontStyleItalic{
    font-style: italic !important;
}

.#{$preAuthor}hide{
    display: none !important;
}

// shadow
.#{$preAuthor}shadow-1{
    box-shadow: 1px 1px 3px 0px #ddd !important;
}
.#{$preAuthor}shadow-2{
    box-shadow: 1px 1px 3px 1px #ddd !important;
}