/* Author Nick. */

// ***********************
// Page Number Css Sample
// ***********************
.#{$preAuthor}page-number{

    // $icons-sprite-dimensions: true;
    // $icons-spacing: 10px;
    // @import "page_number/icons/*.png";
    // @include all-icons-sprites;
    padding: 20px 70px;
    text-align: center;
    .inner{
        display: inline-block;
        position: relative;
        > a{
            vertical-align: middle;
            box-sizing: border-box;
            width: 30px;
            height: 30px;
            line-height: 30px;
            display: inline-block;
            text-decoration: none;
            color: #333333;
            margin: 1px;
            transition: all .3s linear;
            &.hide{
                visibility: hidden;
            }
            &.active,
            &:hover{
                text-decoration: underline;
            }
            &.image{
                text-indent: -9999px;
            }
            &.prev, &.prev_more, &.next, &.next_more{
                position: absolute;
                top: 50%;
                margin-top: -15px;
            }
            &.prev, &.prev_more{
                left: 0px;
            }
            &.prev{
                margin-left: -35px;
            }
            &.prev_more{
                margin-left: -70px;
            }
            &.next, &.next_more{
                right: 0px;
            }
            &.next{
                margin-right: -35px;
            }
            &.next_more{
                margin-right: -70px;
            }
            &.prev.icons-prev{
                text-indent: -9999px;
            }
            &.prev_more.icons-prev_more{
                text-indent: -9999px;
            }
            &.next.icons-next{
                text-indent: -9999px;
            }
            &.next_more.icons-next_more{
                text-indent: -9999px;
            }
        }
    }

    &.animate{
        .inner{
            > a{
                &.active,
                &:hover{
                    font-size: 120%;
                    font-weight: bolder;
                }
            }
        }
    }

    &.border{
        .inner{
            > a{
                border: 1px solid #000000;
                line-height: 28px;
            }
        }
    }

    &.square{
        .inner{
            > a{
                &.active,
                &:hover{
                    background: #000000;
                    color: #ffffff;
                    text-decoration: none;
                }
            }
            &.radius{
                > a{
                    border-radius: 5px;
                }
            }
        }
    }

    &.circle{
        .inner{
            > a{
                border-radius: 15px;
                &.active,
                &:hover{
                    background: #000000;
                    color: #ffffff;
                    text-decoration: none;
                }
            }
        }
    }

}

.#{$pre}paging-wrapper{
    $paging-width: 25px;
    $paging-height: 25px;
    // line-height: 160%;
    // float: right;
    text-align: center;
    margin: 30px 0;
    * {
        vertical-align: middle;
    }
    .#{$pre}paging-select{
        padding: 8px 8px;
        width: auto;
        border: none;
        border-bottom: none;
        height: $paging-height;
        // border-left: 1px #ccc solid;
        // border-right: 1px #ccc solid;
    }

    .#{$pre}pagination{
        li{
            display: none;
            &.#{$pre}paging-control,
            &.#{$pre}paging-active{
                display: inline-block;
            }
            &.#{$pre}paging-disable{
                a{
                    color: #eeeeee;
                    &:hover{
                        color: #eeeeee;
                    }
                }
            }
            &.#{$pre}paging-control{
                a{
                    width: auto;
                    margin: 0 8px;
                    &:hover{
                        
                    }
                }
            }
            a{
                padding: 2px;
                margin: 0 2px;
                width: $paging-width;
                height: $paging-height;
                border-radius: $paging-width;
                text-align: center;
                &:hover{
                    color: $DFColor_Orange;
                    background-color: transparent;
                }
                .icons{
                    margin: 0 4px;
                }
                > span{
                    display: inline-block;
                }
            }
            &.#{$pre}paging-active{
                a{
                    background-color: $DFColor_Orange;
                    color: #ffffff;
                }
            }
        }
        @include nMediaQueryMore($w3-medium-size) {
            li{
                display: inline-block;
            }
        }
    }
}
