/* Author Nick. */

// ***********************
// Reset
// ***********************
a {
    text-decoration: none;
    color: inherit;
    cursor: default;
    &[href],
    &[onclick] {
        cursor: pointer;
    }
    &:focus{
        outline: none;
    }
}

button,
input,
textarea {
    background-color: transparent;
    border: none;
    padding: 0;
    font-family: inherit;
    -webkit-border-radius: 0;
    border-radius: 0;
}

select,
input:focus {
    outline: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: none;
}