<section class="s2">
	<div class="container">
		<div class="arrow_control">
			<div class="arrow_left s2_left"></div>
			<div class="arrow_right s2_right"></div>
		</div>
		<div class="main_item">
			<div class="hospital">
				<span>醫療住院費</span>
				<ul>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=9&TabId=36" target="_blank">診療費</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=9&TabId=37" target="_blank">住院費</a></li>
				</ul>
			</div>
			<div class="phone">
				<span>電信費</span>
				<ul>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=2&TabId=18" target="_blank">中華電信費</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=2&TabId=85" target="_blank">台灣大哥大電信費</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=2&TabId=69" target="_blank">遠傳電信費</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=2&TabId=240" target="_blank">台灣之星電信費</a></li>
					<!-- <li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=2&TabId=63" target="_blank">大眾電信費</a></li> -->
					<li class="more"><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=2&TabId=34" target="_blank">其他電信費用<i></i></a></li>
				</ul>
			</div>
			<div class="traffic">
				<span>交通費</span>
				<ul>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=4&TabId=102" target="_blank">臺北市路邊停車費</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=4&TabId=108" target="_blank">新北市路邊停車費</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=4&TabId=125" target="_blank">臺中市停車費</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=4&TabId=153" target="_blank">高雄市路邊停車費</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=4&TabId=97" target="_blank">eTag儲值</a></li>
					<li class="more"><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=4&TabId=35" target="_blank">其他停車費<i></i></a></li>
				</ul>
			</div>
			<div class="credit">
				<span>信用卡費</span>
				<ul>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=3&TabId=12" target="_blank">信用卡費</a></li>
				</ul>
			</div>
			<div class="public">
				<span>公共事業費</span>
				<ul>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=5&TabId=22" target="_blank">台灣自來水費</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=5&TabId=55" target="_blank">臺北自來水費</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=5&TabId=14" target="_blank">電費</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=0&TabId=49" target="_blank">瓦斯費<i></i></a></li>
				</ul>
			</div>
			<div class="school">
				<span>學雜費</span>
				<ul>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=11&TabId=30" target="_blank">幼稚園/托兒所</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=11&TabId=46" target="_blank">國中/小學</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=11&TabId=47" target="_blank">高中/職</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=11&TabId=41" target="_blank">大專院校</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=11&TabId=3" target="_blank">銀行代收學雜費</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=11&TabId=20" target="_blank">補習費</a></li>
				</ul>
			</div>
			<div class="insurance">
				<span>保險費</span>
				<ul>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=8&TabId=84" target="_blank">健保費</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=8&TabId=48" target="_blank">保險費</a></li>
				</ul>
			</div>

		</div>
	</div>
</section>
