<section class="s1">
	<div class="container">
		<div class="arrow_control">
			<!-- <div class="arrow_left" onclick="change_scaleAndPosition(1, 1);"></div> -->
			<div class="arrow_right s1_right"></div>
		</div>
		<div class="main_item">
			<div class="donate">
				<span>捐款費用</span>
				<ul>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=13&TabId=57" target="_blank">政黨捐款</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=13&TabId=45" target="_blank">公益慈善捐款</a></li>
				</ul>
			</div>
			<div class="member">
				<span>會費/規費</span>
				<ul>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=14&TabId=44" target="_blank">會費</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=14&TabId=62" target="_blank">規費</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=14&TabId=70" target="_blank">顧問諮詢費</a></li>
				</ul>
			</div>
			<div class="loan">
				<span>繳納貸款</span>
				<ul>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=7&TabId=16" target="_blank">繳納貸款</a></li>
				</ul>
			</div>
			<div class="other">
				<span>其他費用</span>
				<ul>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=15&TabId=79" target="_blank">證券費</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=15&TabId=29" target="_blank">加盟權利金</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=15&TabId=51" target="_blank">廣告刊登費</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=15&TabId=50" target="_blank">清潔費/廢棄物處理費</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=15&TabId=52" target="_blank">仲介服務費</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=15&TabId=40" target="_blank">貨款</a></li>
					<!-- <li><a href="#" target="_blank">租賃費</a></li>
					<li><a href="#" target="_blank">車輛修理費</a></li>
					<li><a href="#" target="_blank">機電保養費</a></li>
					<li><a href="#" target="_blank">拍賣保證金</a></li>
					<li><a href="#" target="_blank">網站及行動服務費</a></li>
					<li><a href="#" target="_blank">執行業務所得</a></li>
					<li><a href="#" target="_blank">勞務服務費</a></li> -->
					<!-- <li><a href="#" target="_blank">訂（期）金</a></li>
					<li><a href="#" target="_blank">貨物提領費</a></li>
					<li><a href="#" target="_blank">配送服務費</a></li>
					<li><a href="#" target="_blank">系統服務費</a></li>
					<li><a href="#" target="_blank">會員權利金</a></li>
					<li><a href="#" target="_blank">後付貨款</a></li> -->
					<li class="more"><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=15&TabId=27" target="_blank">其他費用<i></i></a></li>
				</ul>
			</div>
			<div class="government">
				<span>政府機關相關費用</span>
				<ul>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=6&TabId=17" target="_blank">國有土地租金(補償金)</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=6&TabId=60" target="_blank">政府規費</a></li>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=6&TabId=157" target="_blank">銀行代收政府規費</a></li>
				</ul>
			</div>
			<div class="training">
				<span>報名訓練費</span>
				<ul>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=10&TabId=53" target="_blank">中華民國銀行公會</a></li>
					<li class="more"><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=10&TabId=54" target="_blank">其他機構<i></i></a></li>
				</ul>
			</div>
			<div class="resident">
				<span>住戶管理費</span>
				<ul>
					<li><a href="https://ebill.ba.org.tw/CPP//DesktopDefault.aspx?TabIndex=12&TabId=26" target="_blank">住戶管理費</a></li>
				</ul>
			</div>

		</div>
	</div>
</section>
