<section class="s4">
	<div class="container">
		<div class="arrow_control">
			<div class="arrow_left s4_left"></div>
			<!-- <div class="arrow_right" onclick="change_scaleAndPosition(2, 1.2);"></div> -->
		</div>
		<div class="main_item">
			<div class="house">
				<span>房屋稅</span>
				<ul>
					<li><a href="https://paytax.nat.gov.tw/Main4.aspx?opt=7" target="_blank">房屋稅</a></li>
				</ul>
			</div>
			<div class="license">
				<span>牌照稅</span>
				<ul>
					<li><a href="https://paytax.nat.gov.tw/Main4.aspx?opt=4" target="_blank">牌照稅</a></li>
				</ul>
			</div>
			<div class="place">
				<span>地價稅</span>
				<ul>
					<li><a href="https://paytax.nat.gov.tw/Main4.aspx?opt=8" target="_blank">地價稅</a></li>
				</ul>
			</div>
			<div class="income">
				<span>所得相關稅款</span>
				<ul>
					<li><a href="https://paytax.nat.gov.tw/Main4.aspx?opt=1" target="_blank">綜合所得稅核定補徵稅款</a></li>
					<li><a href="https://paytax.nat.gov.tw/Main5.aspx?opt=A" target="_blank">綜合所得稅結算申報自繳稅款</a></li>
					<li><a href="https://paytax.nat.gov.tw/Main2.aspx?opt=5" target="_blank">各類所得扣繳稅款</a></li>
					<li><a href="https://paytax.nat.gov.tw/Main7.aspx?opt=E" target="_blank">外僑結算申報自繳稅款</a></li>
				</ul>
			</div>
			<div class="shop">
				<span>營業稅相關稅款</span>
				<ul>
					<li><a href="https://paytax.nat.gov.tw/Main3.aspx?opt=9" target="_blank">營業稅自繳稅款</a></li>
					<li><a href="https://paytax.nat.gov.tw/Main4.aspx?opt=3" target="_blank">營業稅查定開徵稅款</a></li>
				</ul>
			</div>
			<div class="business">
				<span>營利事業相關稅款</span>
				<ul>
					<li><a href="https://paytax.nat.gov.tw/Main4.aspx?opt=2" target="_blank">營利事業所得稅核定開徵稅款</a></li>
					<li><a href="https://paytax.nat.gov.tw/Main1.aspx?opt=B" target="_blank">營利事業所得稅結算申報自繳稅款</a></li>
					<li><a href="https://paytax.nat.gov.tw/Main1.aspx?opt=C" target="_blank">營利事業所得稅暫繳申報自繳稅款</a></li>
					<li><a href="https://paytax.nat.gov.tw/Main2.aspx?opt=6" target="_blank">營利事業所得稅扣繳稅款</a></li>
				</ul>
			</div>
			<div class="fine">
				<span>違章罰鍰</span>
				<ul>
					<li><a href="https://paytax.nat.gov.tw/Main4.aspx?opt=G" target="_blank">違章罰鍰 (限綜所稅、房地合一稅、營所稅及營業稅)</a></li>
				</ul>
			</div>
			<div class="building">
				<span>房屋土地相關稅款</span>
				<ul>
					<li><a href="https://paytax.nat.gov.tw/Main4.aspx?opt=I" target="_blank">個人房屋土地交易所得稅核定開徵稅款</a></li>
					<li><a href="https://paytax.nat.gov.tw/Main2.aspx?opt=H" target="_blank">個人房屋土地交易所得稅申報自繳稅款</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
