<nav class="global-nav">
	<div class="container">
		<a href="http://www.fisc.com.tw" target="_blank"><div class="logo">LOGO</div></a>
		<ul class="menu">
			<li class="navCost">繳費</li>
			<li class="navTax">繳稅</li>
			<li class="navHome">回首頁</li>
		</ul>
	</div>
</nav>