<section class="s4">
	<div class="container">
		<div class="arrow_control">
			<div class="arrow_left" onclick="change_scaleAndPosition(4, 3, 1.2);"></div>
			<!-- <div class="arrow_right" onclick="change_scaleAndPosition(2, 1.2);"></div> -->
		</div>
		<div class="main_item">
			<div class="house">
				<span>房屋稅</span>
				<ul>
					<li><a href="#" target="_blank">房屋稅</a></li>
				</ul>
			</div>
			<div class="license">
				<span>牌照稅</span>
				<ul>
					<li><a href="#" target="_blank">牌照稅</a></li>
				</ul>
			</div>
			<div class="place">
				<span>地價稅</span>
				<ul>
					<li><a href="#" target="_blank">地價稅</a></li>
				</ul>
			</div>
			<div class="income">
				<span>所得相關稅款</span>
				<ul>
					<li><a href="#" target="_blank">所得相關稅款</a></li>
					<li><a href="#" target="_blank">綜合所得稅結算申報自繳稅款</a></li>
					<li><a href="#" target="_blank">各類所得扣繳稅款</a></li>
					<li><a href="#" target="_blank">外僑結算申報自繳稅款</a></li>
				</ul>
			</div>
			<div class="shop">
				<span>營業稅相關稅款</span>
				<ul>
					<li><a href="#" target="_blank">營業稅自繳稅款</a></li>
					<li><a href="#" target="_blank">營業稅查定開徵稅款</a></li>
				</ul>
			</div>
			<div class="building">
				<span>營利事業相關稅款</span>
				<ul>
					<li><a href="#" target="_blank">營利事業所得稅核定開徵稅款</a></li>
					<li><a href="#" target="_blank">營利事業所得稅結算申報自繳稅款</a></li>
					<li><a href="#" target="_blank">營利事業所得稅暫繳申報自繳稅款</a></li>
					<li><a href="#" target="_blank">營利事業所得稅扣繳稅款</a></li>
				</ul>
			</div>
			<div class="fine">
				<span>違章罰鍰</span>
				<ul>
					<li><a href="#" target="_blank">違章罰鍰(限綜所稅、房地合一稅、營所稅及營業稅)</a></li>
				</ul>
			</div>
			<div class="business">
				<span>房屋土地相關稅款</span>
				<ul>
					<li><a href="#" target="_blank">個人房屋土地交易所得稅核定開徵稅款</a></li>
					<li><a href="#" target="_blank">個人房屋土地交易所得稅申報自繳稅款</a></li>
				</ul>
			</div>
		</div>
		<!-- <div class="bottom_item">
			<div class="topic">請選擇要繳費的項目</div>
			<div class="cat">喵喵</div>
			<div class="broad">繳費繳稅網</div>
		</div> -->
	</div>
</section>
