<section class="s2">
	<div class="container">
		<div class="arrow_control">
			<div class="arrow_left" onclick="change_scaleAndPosition(2, 1, 1);"></div>
			<div class="arrow_right" onclick="change_scaleAndPosition(2, 3, 1.2);"></div>
		</div>
		<div class="main_item">
			<div class="hospital">
				<span>醫療住院費</span>
				<ul>
					<li><a href="#" target="_blank">診療費</a></li>
					<li><a href="#" target="_blank">住院費</a></li>
				</ul>
			</div>
			<div class="phone">
				<span>電信費</span>
				<ul>
					<li><a href="#" target="_blank">中華電信費</a></li>
					<li><a href="#" target="_blank">台灣大哥大電信費</a></li>
					<li><a href="#" target="_blank">遠傳電信費</a></li>
					<li><a href="#" target="_blank">台灣之星電信費</a></li>
					<li><a href="#" target="_blank">大眾電信費</a></li>
					<li class="more"><a href="#" target="_blank">其他電信費用<i>〉</i></a></li>
				</ul>
			</div>
			<div class="traffic">
				<span>交通費</span>
				<ul>
					<li><a href="#" target="_blank">臺北市路邊停車費</a></li>
					<li><a href="#" target="_blank">新北市路邊停車費</a></li>
					<li><a href="#" target="_blank">臺中市停車費</a></li>
					<li><a href="#" target="_blank">高雄市路邊停車費</a></li>
					<li><a href="#" target="_blank">eTag儲值</a></li>
					<li><a href="#" target="_blank">交通搭乘費</a></li>
					<li><a href="#" target="_blank">汽車燃料使用費</a></li>
					<li><a href="#" target="_blank">臺南市停車費</a></li>
					<li><a href="#" target="_blank">油汽費</a></li>
					<li class="more"><a href="#" target="_blank">其他停車費<i>〉</i></a></li>
				</ul>
			</div>
			<div class="credit">
				<span>信用卡費</span>
				<ul>
					<li><a href="#" target="_blank">信用卡費</a></li>
				</ul>
			</div>
			<div class="public">
				<span>公共事業費</span>
				<ul>
					<li><a href="#" target="_blank">台灣自來水費</a></li>
					<li><a href="#" target="_blank">臺北自來水費</a></li>
					<li><a href="#" target="_blank">電費</a></li>
					<li><a href="#" target="_blank">欣雲瓦斯費</a></li>
					<li><a href="#" target="_blank">竹建瓦斯費</a></li>
					<li><a href="#" target="_blank">陽明山瓦斯費</a></li>
					<li><a href="#" target="_blank">欣嘉瓦斯費</a></li>
					<li><a href="#" target="_blank">欣雄瓦斯費</a></li>
					<li><a href="#" target="_blank">欣屏瓦斯費</a></li>
					<li class="more"><a href="#" target="_blank">其他瓦斯費<i>〉</i></a></li>
				</ul>
			</div>
			<div class="school">
				<span>學雜費</span>
				<ul>
					<li><a href="#" target="_blank">幼稚園/托兒所</a></li>
					<li><a href="#" target="_blank">國中/小學</a></li>
					<li><a href="#" target="_blank">高中/職</a></li>
					<li><a href="#" target="_blank">大專院校</a></li>
					<li><a href="#" target="_blank">銀行代收學雜費</a></li>
					<li><a href="#" target="_blank">補習費</a></li>
				</ul>
			</div>
			<div class="insurance">
				<span>保險費</span>
				<ul>
					<li><a href="#" target="_blank">健保費</a></li>
					<li><a href="#" target="_blank">保險費</a></li>
				</ul>
			</div>

		</div>
		<!-- <div class="bottom_item">
			<div class="topic">請選擇要繳費的項目</div>
			<div class="cat">喵喵</div>
			<div class="broad">繳費繳稅網</div>
		</div> -->
	</div>
</section>
