.#{$pre}anchor{
	&.default{
		&:hover{
			text-decoration: underline;
		}
	}
	&.orange{
		color: $DFColor_Orange;
		@include nMediaQueryMore($w3-medium-size) {
			&:hover{
				color: lighten($DFColor_Orange, 5%);
			}
		}
		&:active{
			color: darken($DFColor_Orange, 5%);
		}
	}	
	&.skyblue{
		color: $DFColor_SkyBlue;
		@include nMediaQueryMore($w3-medium-size) {
			&:hover{
				color: lighten($DFColor_SkyBlue, 5%);
			}
		}
		&:active{
			color: darken($DFColor_SkyBlue, 5%);
		}
	}

}