
section {
    width: 1024px;
	height: inherit;
    margin: 0px auto;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
}
.s1 {
	border: 1px solid orange;
}
.s2 {
	border: 1px solid green;
}
.s3 {
	border: 1px solid red;
	.title {
		background: url('../images/home/title.png');
	    width: 320px;
	    height: 210px;
	    background-size: 100%;
	    background-repeat: no-repeat;
	    display: inline-block;
	    text-indent: -9999px;
	    position: absolute;
	    top: 0px;
    	left: 50%;
    	margin-left: -160px;
	}
	.index_item {
		width: 1024px;
	    height: 700px;
	    display: inline-block;
	    position: relative;
	    top: 50%;
	    left: 50%;
	    margin-left: -512px;
	    margin-top: 50px;

		.left {
			background: url('../images/home/blueCircle.png');
		    width: 230px;
		    height: 220px;
		    background-repeat: no-repeat;
		    display: inline-block;
		    position: absolute;
		    top: 180px;
	    	left: 100px;
		    cursor: pointer;
			&:after {
				content: '';
				background: url('../images/home/billMoney.png');
				width: 160px;
				height: 140px;
				background-repeat: no-repeat;
				display: inline-block;
				position: absolute;
				top: 20px;
				left: 40px;
			}
			span {
				position: absolute;
				bottom: 30px;
				left: 90px;
				color: #fff;
		        font-size: 24px;
			}
		}
		.right {
			background: url('../images/home/pinkCircle.png');
		    width: 230px;
		    height: 220px;
		    background-repeat: no-repeat;
		    display: inline-block;
		    position: absolute;
		    top: 180px;
	    	right: 100px;
		    cursor: pointer;
			&:after {
				content: '';
				background: url('../images/home/tax.png');
				width: 160px;
				height: 140px;
				background-size: 100%;
				background-repeat: no-repeat;
				display: inline-block;
				position: absolute;
				top: 30px;
				left: 40px;
			}
			span {
				position: absolute;
				bottom: 30px;
				left: 90px;
				color: #fff;
		        font-size: 24px;
			}
		}
		.cat {
			background: url('../images/home/cat.png');
	        width: 280px;
	    	height: 310px;
		    background-repeat: no-repeat;
		    display: inline-block;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    margin-left: -130px;
		    margin-top: -50px;
		    text-indent: -9999px;
		}

	}
}
.s4 {
	border: 1px solid yellow;
}