section {
    width: 1024px;
	height: 570px;
    margin: 0px auto;
    display: inline-block;
    position: relative;
    float: left;
    .container {
    	height: 100%;
    }
	&:before {
		content: '';
	    background: rgba(51, 51, 51, 0.8);
	    width: 100%;
	    height: 100%;
	    display: inline-block;
	    position: absolute;
	    z-index: 10;
	    display: block;
	    transition: all 1s ease-in-out;
	}
	&.active:before {
		background: rgba(51, 51, 51, 0);
		z-index: -1;
	}
	&.active.white:before {
		background: rgba(51, 51, 51, 0.5);
		z-index: 4;
	}
	.main_item > div {
		&:after {
			transform: scale(1);
			transition: all 0.5s ease-in-out;
		}
		&:hover:after {
			transform: scale(1.1);
		}
		&:hover {
			z-index: 3;
		}
		ul {
	    	display: none;
	    	padding: 20px 10px;
	    	width: 170px;
	    	background: #fff;
	    	border-radius: 15px;
	    	box-shadow: 2px 2px 5px #888;
	    	position: absolute;
	    	top: 160px;
	    	left: 20px;
	    	z-index: -1;
	    	li {
	    		list-style: none;
	    		font-weight: bold;
	    		text-align: center;
	    		line-height: 28px;
	    		&:hover {
	    			text-decoration: underline;
	    		}
				&.more {
					color: #2682c2;
					line-height: 20px;
					i {
						background: #2682c2;
						width: 18px;
						height: 18px;
						display: inline-block;
						border-radius: 10px;
						font-style: normal;
						margin: 3px 0px -3px 7px;
						position: relative;
						&:after {
							content: '';
						    background: url(../images/arrow/arrow.png);
						    background-repeat: no-repeat;
						    width: 100%;
						    height: 100%;
						    display: inline-block;
						    position: absolute;
						    top: 4px;
						    left: 5px;
						    z-index: 1;
						}
					}
	    		}
			}
		}
	}
}

.cat {
	background: url('../images/home/cat.png');
    width: 280px;
	height: 310px;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    top: 200px;
    left: 2450px;
    z-index: 1;
    transform: scale(0.8);
    text-indent: -9999px;

    &.walking_left {
    	background: url('../images/cat_walking.gif');
    	background-repeat: no-repeat;
    	top: 200px;
    }
    &.walking_right {
		background: url('../images/cat_walking.gif') no-repeat;
    	top: 200px;
    	-moz-transform: scaleX(-1)!important;
    	-ms-transform: scaleX(-1)!important;
        -o-transform: scaleX(-1)!important;
        -webkit-transform: scaleX(-1)!important;
        transform: scaleX(-1)!important;
        -ms-filter: "FlipH";
        -webkit-filter: "FlipH";
        filter: FlipH;
    }
	&.active_cost {
		background: url('../images/cost/cat2.png');
		background-repeat: no-repeat;
		top: 300px;
	}
	&.active_tax {
		background: url('../images/tax/cat3.png');
		background-repeat: no-repeat;
		top: 300px;
	}
}

.s1 {
	.arrow_control {
		opacity: 0;
		.arrow_left {
			background: url('../images/arrow/arrowLeftblack.png');
		    width: 50px;
		    height: 90px;
		    background-size: 100%;
		    background-repeat: no-repeat;
		    display: inline-block;
		    cursor: pointer;
		    position: absolute;
		    z-index: 5;
		    top: 50%;
		    margin-top: -55px;
		    &:after {
		    	content:'';
	    		background: url('../images/arrow/arrowLeftFeet.png');
	    	    width: 30px;
	    	    height: 30px;
	    	    background-size: 100%;
	    	    background-repeat: no-repeat;
	    	    display: inline-block;
	    	    position: absolute;
	    	    top:30px;
	    	    left: 10px;
	    	    transition: all 0.3s ease-in-out;
		    }
		    &:hover:after {
				left: 5px;
		    }
		}
		.arrow_right {
			background: url('../images/arrow/arrowRightblack.png');
		    width: 50px;
		    height: 90px;
		    background-size: 100%;
		    background-repeat: no-repeat;
		    display: inline-block;
		    position: absolute;
		    right:0px;
		    cursor: pointer;
		    position: absolute;
		    z-index: 5;
		    top: 50%;
		    margin-top: -55px;
		    &:after {
		    	content:'';
	    		background: url('../images/arrow/arrowRightFeet.png');
	    	    width: 30px;
	    	    height: 30px;
	    	    background-size: 100%;
	    	    background-repeat: no-repeat;
	    	    display: inline-block;
	    	    position: absolute;
	    	    top:30px;
	    	    right: 10px;
	    	    transition: all 0.3s ease-in-out;
		    }
		    &:hover:after {
				right: 5px;
		    }
		}
	}
	.main_item {
		position: absolute;
		z-index: 1;
		.donate {
			cursor: pointer;
			position: absolute;
			top: 20px;
			left: -20px;
			&.active {
				span:after{
					background-position: 0px -8px;
				}
			}
			&:after {
				content:'';
				background: url('../images/cost/donate.png');
			    width: 90px;
			    height: 110px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    position: absolute;
			    top: 60px;
			    left: 60px;
			    z-index: 1;
			}
		    span {
				background: url('../images/cost/捐款費用.png');
			    width: 130px;
			    height: 40px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    text-indent: -9999px;
			    position: absolute;
			    top: 150px;
			    left: 30px;
			    &:after {
			    	content:'';
		    		background: url('../images/cost/arrow.png');
		    	    width: 14px;
	    	        height: 8px;
	    	        background-position: 0px 0px;
	    	        background-repeat: no-repeat;
	    	        display: inline-block;
	    	        position: absolute;
	    	        top: 18px;
	    	        right: 15px;
			    }
		    }
		    ul {
		    	width: 130px;
		    	left: 30px;
		    }
		}
		.member {
			cursor: pointer;
			position: absolute;
			top: -40px;
			left: 120px;
			&.active {
				span:after{
					background-position: 0px -8px;
				}
			}
			&:after {
				content:'';
				background: url('../images/cost/member.png');
			    width: 90px;
			    height: 110px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    position: absolute;
			    top: 60px;
			    left: 60px;
			    z-index: 1;
			}
		    span {
				background: url('../images/cost/會費規費.png');
			    width: 140px;
			    height: 40px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    text-indent: -9999px;
			    position: absolute;
			    top: 150px;
			    left: 30px;
			    &:after {
			    	content:'';
		    		background: url('../images/cost/arrow.png');
		    	    width: 14px;
	    	        height: 8px;
	    	        background-position: 0px 0px;
	    	        background-repeat: no-repeat;
	    	        display: inline-block;
	    	        position: absolute;
	    	        top: 16px;
	    	        right: 20px;
			    }
		    }
		    ul {
		    	width: 130px;
		    	left: 35px;
		    }
		}
		.loan {
			cursor: pointer;
			position: absolute;
			top: 70px;
			left: 240px;
			&.active {
				span:after{
					background-position: 0px -8px;
				}
			}
			&:after {
				content:'';
				background: url('../images/cost/loan.png');
			    width: 90px;
			    height: 110px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    position: absolute;
			    top: 60px;
			    left: 70px;
			    z-index: 1;
			}
		    span {
				background: url('../images/cost/繳納貸款.png');
			    width: 140px;
			    height: 40px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    text-indent: -9999px;
			    position: absolute;
			    top: 150px;
			    left: 50px;
			    &:after {
			    	content:'';
		    		background: url('../images/cost/arrow.png');
		    	    width: 14px;
	    	        height: 8px;
	    	        background-position: 0px 0px;
	    	        background-repeat: no-repeat;
	    	        display: inline-block;
	    	        position: absolute;
	    	        top: 16px;
	    	        right: 20px;
			    }
		    }
		    ul {
		    	width: 120px;
		    	left: 50px;
		    }
		}
		.other {
			cursor: pointer;
			position: absolute;
			top: 0px;
			left: 420px;
			&.active {
				span:after{
					background-position: 0px -8px;
				}
			}
			&:after {
				content:'';
				background: url('../images/cost/other.png');
			    width: 90px;
			    height: 110px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    position: absolute;
			    top: 60px;
			    left: 60px;
			    z-index: 1;
			}
		    span {
				background: url('../images/cost/其他費用.png');
			    width: 140px;
			    height: 40px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    text-indent: -9999px;
			    position: absolute;
			    top: 150px;
			    left: 40px;
			    &:after {
			    	content:'';
		    		background: url('../images/cost/arrow.png');
		    	    width: 14px;
	    	        height: 8px;
	    	        background-position: 0px 0px;
	    	        background-repeat: no-repeat;
	    	        display: inline-block;
	    	        position: absolute;
	    	        top: 16px;
	    	        right: 20px;
			    }
		    }
		}
		.government {
			cursor: pointer;
			position: absolute;
			top: 160px;
			left: 520px;
			&.active {
				span:after{
					background-position: 0px -8px;
				}
			}
			&:after {
				content:'';
				background: url('../images/cost/government.png');
			    width: 90px;
			    height: 110px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    position: absolute;
			    top: 60px;
			    left: 60px;
			    z-index: 1;
			}
		    span {
				background: url('../images/cost/政府機關相關費用.png');
			    width: 220px;
			    height: 40px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    text-indent: -9999px;
			    position: absolute;
			    top: 150px;
			    left: 0px;
			    &:after {
			    	content:'';
		    		background: url('../images/cost/arrow.png');
		    	    width: 14px;
	    	        height: 8px;
	    	        background-position: 0px 0px;
	    	        background-repeat: no-repeat;
	    	        display: inline-block;
	    	        position: absolute;
	    	        top: 16px;
	    	        right: 20px;
			    }
		    }
		    ul {
		    	width: 190px;
		    	left: 10px;
		    }
		}
		.training {
			cursor: pointer;
			position: absolute;
			top: -40px;
			left: 660px;
			&.active {
				span:after{
					background-position: 0px -8px;
				}
			}
			&:after {
				content:'';
				background: url('../images/cost/training.png');
			    width: 90px;
			    height: 110px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    position: absolute;
			    top: 60px;
			    left: 70px;
			    z-index: 1;
			}
		    span {
				background: url('../images/cost/報名訓練費.png');
			    width: 150px;
			    height: 40px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    text-indent: -9999px;
			    position: absolute;
			    top: 150px;
			    left: 45px;
			    &:after {
			    	content:'';
		    		background: url('../images/cost/arrow.png');
		    	    width: 14px;
	    	        height: 8px;
	    	        background-position: 0px 0px;
	    	        background-repeat: no-repeat;
	    	        display: inline-block;
	    	        position: absolute;
	    	        top: 16px;
	    	        right: 20px;
			    }
		    }
		    ul {
		    	width: 160px;
		    	left: 35px;
		    }
		}
		.resident {
			cursor: pointer;
			position: absolute;
			top: 80px;
			left: 770px;
			&.active {
				span:after{
					background-position: 0px -8px;
				}
			}
			&:after {
				content:'';
				background: url('../images/cost/resident.png');
			    width: 90px;
			    height: 110px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    position: absolute;
			    top: 60px;
			    left: 80px;
			    z-index: 1;
			}
		    span {
				background: url('../images/cost/住戶管理費.png');
			    width: 160px;
			    height: 40px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    text-indent: -9999px;
			    position: absolute;
			    top: 150px;
			    left: 45px;
			    &:after {
			    	content:'';
		    		background: url('../images/cost/arrow.png');
		    	    width: 14px;
	    	        height: 8px;
	    	        background-position: 0px 0px;
	    	        background-repeat: no-repeat;
	    	        display: inline-block;
	    	        position: absolute;
	    	        top: 16px;
	    	        right: 20px;
			    }
		    }
		    ul {
		    	width: 130px;
		    	left: 55px;
		    }
		}
	}
}
.s2 {
	.arrow_control {
		opacity: 0;
		.arrow_left {
			background: url('../images/arrow/arrowLeftblack.png');
		    width: 50px;
		    height: 90px;
		    background-size: 100%;
		    background-repeat: no-repeat;
		    display: inline-block;
		    cursor: pointer;
		    position: absolute;
		    z-index: 5;
		    top: 50%;
		    margin-top: -55px;
		    &:after {
		    	content:'';
	    		background: url('../images/arrow/arrowLeftFeet.png');
	    	    width: 30px;
	    	    height: 30px;
	    	    background-size: 100%;
	    	    background-repeat: no-repeat;
	    	    display: inline-block;
	    	    position: absolute;
	    	    top:30px;
	    	    left: 10px;
	    	    transition: all 0.3s ease-in-out;
		    }
		    &:hover:after {
				left: 5px;
		    }
		}
		.arrow_right {
			background: url('../images/arrow/arrowRightblack.png');
		    width: 50px;
		    height: 90px;
		    background-size: 100%;
		    background-repeat: no-repeat;
		    display: inline-block;
		    position: absolute;
		    z-index: 5;
		    right:0px;
		    cursor: pointer;
		    position: absolute;
		    top: 50%;
		    margin-top: -55px;
		    &:after {
		    	content:'';
	    		background: url('../images/arrow/arrowRightFeet.png');
	    	    width: 30px;
	    	    height: 30px;
	    	    background-size: 100%;
	    	    background-repeat: no-repeat;
	    	    display: inline-block;
	    	    position: absolute;
	    	    top:30px;
	    	    right: 10px;
	    	    transition: all 0.3s ease-in-out;
		    }
		    &:hover:after {
				right: 5px;
		    }
		}
	}
	.main_item {
		position: absolute;
		z-index: 1;
		.hospital {
			cursor: pointer;
			position: absolute;
			top: 0px;
			left: 0px;
			&.active {
				span:after{
					background-position: 0px -8px;
				}
			}
			&:after {
				content:'';
				background: url('../images/cost/hospital.png');
			    width: 90px;
			    height: 110px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    position: absolute;
			    top: 60px;
			    left: 60px;
			    z-index: 1;
			}
		    span {
				background: url('../images/cost/醫療住院費.png');
			    width: 150px;
			    height: 40px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    text-indent: -9999px;
			    position: absolute;
			    top: 150px;
			    left: 30px;
			    &:after {
			    	content:'';
		    		background: url('../images/cost/arrow.png');
		    	    width: 14px;
	    	        height: 8px;
	    	        background-position: 0px 0px;
	    	        background-repeat: no-repeat;
	    	        display: inline-block;
	    	        position: absolute;
	    	        top: 18px;
	    	        right: 15px;
			    }
		    }
		    ul {
		    	width: 120px;
		    	left: 45px;
		    }
		}
		.phone {
			cursor: pointer;
			position: absolute;
			top: -40px;
			left: 180px;
			&.active {
				span:after{
					background-position: 0px -8px;
				}
			}
			&:after {
				content:'';
				background: url('../images/cost/phone.png');
			    width: 90px;
			    height: 110px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    position: absolute;
			    top: 60px;
			    left: 60px;
			    z-index: 1;
			}
		    span {
				background: url('../images/cost/電信費.png');
			    width: 120px;
			    height: 40px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    text-indent: -9999px;
			    position: absolute;
			    top: 150px;
			    left: 50px;
			    &:after {
			    	content:'';
		    		background: url('../images/cost/arrow.png');
		    	    width: 14px;
	    	        height: 8px;
	    	        background-position: 0px 0px;
	    	        background-repeat: no-repeat;
	    	        display: inline-block;
	    	        position: absolute;
	    	        top: 16px;
	    	        right: 20px;
			    }
		    }
		}
		.traffic {
			cursor: pointer;
			position: absolute;
			top: 70px;
			left: 320px;
			&.active {
				span:after{
					background-position: 0px -8px;
				}
			}
			&:after {
				content:'';
				background: url('../images/cost/traffic.png');
			    width: 90px;
			    height: 110px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    position: absolute;
			    top: 60px;
			    left: 60px;
			    z-index: 1;
			}
		    span {
				background: url('../images/cost/交通費.png');
			    width: 120px;
			    height: 40px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    text-indent: -9999px;
			    position: absolute;
			    top: 150px;
			    left: 50px;
			    &:after {
			    	content:'';
		    		background: url('../images/cost/arrow.png');
		    	    width: 14px;
	    	        height: 8px;
	    	        background-position: 0px 0px;
	    	        background-repeat: no-repeat;
	    	        display: inline-block;
	    	        position: absolute;
	    	        top: 16px;
	    	        right: 20px;
			    }
		    }
		}
		.credit {
			cursor: pointer;
			position: absolute;
			top: 40px;
			left: 470px;
			&.active {
				span:after{
					background-position: 0px -8px;
				}
			}
			&:after {
				content:'';
				background: url('../images/cost/credit.png');
			    width: 90px;
			    height: 110px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    position: absolute;
			    top: 60px;
			    left: 60px;
			    z-index: 1;
			}
		    span {
				background: url('../images/cost/信用卡費.png');
			    width: 140px;
			    height: 40px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    text-indent: -9999px;
			    position: absolute;
			    top: 150px;
			    left: 40px;
			    &:after {
			    	content:'';
		    		background: url('../images/cost/arrow.png');
		    	    width: 14px;
	    	        height: 8px;
	    	        background-position: 0px 0px;
	    	        background-repeat: no-repeat;
	    	        display: inline-block;
	    	        position: absolute;
	    	        top: 16px;
	    	        right: 20px;
			    }
		    }
		    ul {
		    	width: 120px;
	    	    left: 45px;
		    }
		}
		.public {
			cursor: pointer;
			position: absolute;
			top: -20px;
			left: 650px;
			&.active {
				span:after{
					background-position: 0px -8px;
				}
			}
			&:after {
				content:'';
				background: url('../images/cost/public.png');
			    width: 90px;
			    height: 110px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    position: absolute;
			    top: 60px;
			    left: 60px;
			    z-index: 1;
			}
		    span {
				background: url('../images/cost/公共事業費.png');
			    width: 160px;
			    height: 40px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    text-indent: -9999px;
			    position: absolute;
			    top: 150px;
			    left: 25px;
			    &:after {
			    	content:'';
		    		background: url('../images/cost/arrow.png');
		    	    width: 14px;
	    	        height: 8px;
	    	        background-position: 0px 0px;
	    	        background-repeat: no-repeat;
	    	        display: inline-block;
	    	        position: absolute;
	    	        top: 16px;
	    	        right: 20px;
			    }
		    }
		    ul {
		    	width: 140px;
		    	left: 30px;
		    }
		}
		.school {
			cursor: pointer;
			position: absolute;
			top: 130px;
			left: 700px;
			&.active {
				span:after{
					background-position: 0px -8px;
				}
			}
			&:after {
				content:'';
				background: url('../images/cost/school.png');
			    width: 90px;
			    height: 110px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    position: absolute;
			    top: 60px;
			    left: 60px;
			    z-index: 1;
			}
		    span {
				background: url('../images/cost/學雜費.png');
			    width: 120px;
			    height: 40px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    text-indent: -9999px;
			    position: absolute;
			    top: 150px;
			    left: 45px;
			    &:after {
			    	content:'';
		    		background: url('../images/cost/arrow.png');
		    	    width: 14px;
	    	        height: 8px;
	    	        background-position: 0px 0px;
	    	        background-repeat: no-repeat;
	    	        display: inline-block;
	    	        position: absolute;
	    	        top: 16px;
	    	        right: 20px;
			    }
		    }
		}
		.insurance {
			cursor: pointer;
			position: absolute;
			top: -40px;
			left: 820px;
			z-index: 1;
			&.active {
				span:after{
					background-position: 0px -8px;
				}
			}
			&:after {
				content:'';
				background: url('../images/cost/insurance.png');
			    width: 90px;
			    height: 110px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    position: absolute;
			    top: 60px;
			    left: 60px;
			    z-index: 1;
			}
		    span {
				background: url('../images/cost/保險費.png');
			    width: 120px;
			    height: 40px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    text-indent: -9999px;
			    position: absolute;
			    top: 150px;
			    left: 45px;
			    &:after {
			    	content:'';
		    		background: url('../images/cost/arrow.png');
		    	    width: 14px;
	    	        height: 8px;
	    	        background-position: 0px 0px;
	    	        background-repeat: no-repeat;
	    	        display: inline-block;
	    	        position: absolute;
	    	        top: 16px;
	    	        right: 20px;
			    }
		    }
		    ul {
		    	width: 120px;
		    	left: 45px;
		    }
		}
	}
}
.s3 {
	.title {
		background: url('../images/home/title.png');
	    width: 340px;
	    height: 240px;
	    background-size: 100%;
	    background-repeat: no-repeat;
	    display: inline-block;
	    text-indent: -9999px;
	    position: absolute;
	    top: -500px;
    	left: 50%;
    	margin-left: -170px;
	}
	.main {
		.left {
			background: url('../images/home/blueCircle.png');
		    width: 230px;
		    height: 220px;
		    background-repeat: no-repeat;
		    background-position: 50% 0%;
		    display: inline-block;
		    position: absolute;
		    top: 200px;
	    	left: 100px;
	    	transform: scale(0);
		    cursor: pointer;
	        -webkit-animation: updown 3.5s infinite linear;
	        animation: updown 3.5s infinite linear;
	    	@keyframes updown {
	    	    0% { top: 200px; }
	    	    50% { top: 205px; }
	    	    100% { top: 200px; }
	    	}
	    	animation: updown 3.5s infinite linear;
	    	@-webkit-keyframes updown {
	    	    0% { top: 200px; }
	    	    50% { top: 205px; }
	    	    100% { top: 200px; }
	    	}
	    	&:hover {
	    		background-position: 50% 100%;
	    	}
			&:after {
				content: '';
				background: url('../images/home/billMoney.png');
				width: 160px;
				height: 140px;
				background-repeat: no-repeat;
				display: inline-block;
				position: absolute;
				top: 20px;
				left: 40px;
			}
			span {
				position: absolute;
				bottom: 30px;
				left: 90px;
				color: #fff;
		        font-size: 24px;
			}
		}
		.right {
			background: url('../images/home/pinkCircle.png');
		    width: 230px;
		    height: 220px;
		    background-position: 50% 0%;
		    background-repeat: no-repeat;
		    display: inline-block;
		    position: absolute;
		    top: 200px;
	    	right: 100px;
	    	transform: scale(0);
		    cursor: pointer;
		    -webkit-animation: updown 3s infinite ease-out;
		    animation: updown 3s infinite ease-out;
			&:hover {
	    		background-position: 50% 100%;
	    	}
			&:after {
				content: '';
				background: url('../images/home/tax.png');
				width: 160px;
				height: 140px;
				background-size: 100%;
				background-repeat: no-repeat;
				display: inline-block;
				position: absolute;
				top: 30px;
				left: 40px;
			}
			span {
				position: absolute;
				bottom: 30px;
				left: 90px;
				color: #fff;
		        font-size: 24px;
			}
		}
		.cat {
			background: url('../images/home/cat.png');
	        width: 280px;
	    	height: 310px;
		    background-repeat: no-repeat;
		    display: inline-block;
		    position: absolute;
		    top: 50%;
		    left: 100%;
		    transform: scale(0);
		    margin-left: -130px;
		    margin-top: -100px;
		    text-indent: -9999px;
		}

	}
}
.s4 {
	.arrow_control {
		opacity: 0;
		.arrow_left {
			background: url('../images/arrow/arrowLeftblack.png');
		    width: 50px;
		    height: 90px;
		    background-size: 100%;
		    background-repeat: no-repeat;
		    display: inline-block;
		    cursor: pointer;
		    position: absolute;
		    top: 50%;
		    margin-top: -55px;
		    &:after {
		    	content:'';
	    		background: url('../images/arrow/arrowLeftFeet.png');
	    	    width: 30px;
	    	    height: 30px;
	    	    background-size: 100%;
	    	    background-repeat: no-repeat;
	    	    display: inline-block;
	    	    position: absolute;
	    	    top:30px;
	    	    left: 10px;
	    	    transition: all 0.3s ease-in-out;
		    }
		    &:hover:after {
				left: 5px;
		    }
		}
		.arrow_right {
			background: url('../images/arrow/arrowRightblack.png');
		    width: 50px;
		    height: 90px;
		    background-size: 100%;
		    background-repeat: no-repeat;
		    display: inline-block;
		    position: absolute;
		    right:0px;
		    cursor: pointer;
		    position: absolute;
		    top: 50%;
		    margin-top: -55px;
		    &:after {
		    	content:'';
	    		background: url('../images/arrow/arrowRightFeet.png');
	    	    width: 30px;
	    	    height: 30px;
	    	    background-size: 100%;
	    	    background-repeat: no-repeat;
	    	    display: inline-block;
	    	    position: absolute;
	    	    top:30px;
	    	    right: 10px;
	    	    transition: all 0.3s ease-in-out;
		    }
		    &:hover:after {
				right: 5px;
		    }
		}
	}
	.main_item {
		position: absolute;
		z-index: 1;
		.house {
			cursor: pointer;
			position: absolute;
			top: 50px;
			left: 20px;
			&.active {
				span:after{
					background-position: 0px -8px;
				}
			}
			&:after {
				content:'';
				background: url('../images/tax/house.png');
			    width: 90px;
			    height: 110px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    position: absolute;
			    top: 60px;
			    left: 60px;
			    z-index: 1;
			}
		    span {
				background: url('../images/tax/房屋稅.png');
			    width: 130px;
			    height: 40px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    text-indent: -9999px;
			    position: absolute;
			    top: 150px;
			    left: 35px;
			    &:after {
			    	content:'';
		    		background: url('../images/cost/arrow.png');
		    	    width: 14px;
	    	        height: 8px;
	    	        background-position: 0px 0px;
	    	        background-repeat: no-repeat;
	    	        display: inline-block;
	    	        position: absolute;
	    	        top: 16px;
    				right: 18px;
			    }
		    }
		    ul {
		    	width: 120px;
		    	left: 40px;
		    }
		}
		.license {
			cursor: pointer;
			position: absolute;
			top: -40px;
			left: 130px;
			z-index: 2;
			&.active {
				span:after{
					background-position: 0px -8px;
				}
			}
			&:after {
				content:'';
				background: url('../images/tax/license.png');
			    width: 90px;
			    height: 110px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    position: absolute;
			    top: 60px;
			    left: 60px;
			    z-index: 1;
			}
		    span {
				background: url('../images/tax/牌照稅.png');
			    width: 120px;
			    height: 40px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    text-indent: -9999px;
			    position: absolute;
			    top: 150px;
			    left: 50px;
			    &:after {
			    	content:'';
		    		background: url('../images/cost/arrow.png');
		    	    width: 14px;
	    	        height: 8px;
	    	        background-position: 0px 0px;
	    	        background-repeat: no-repeat;
	    	        display: inline-block;
	    	        position: absolute;
	    	        top: 16px;
	    	        right: 20px;
			    }
		    }
		    ul {
		    	width: 120px;
		    	left: 40px;
		    }
		}
		.place {
			cursor: pointer;
			position: absolute;
			top: 100px;
			left: 240px;
			&.active {
				span:after{
					background-position: 0px -8px;
				}
			}
			&:after {
				content:'';
				background: url('../images/tax/place.png');
			    width: 90px;
			    height: 110px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    position: absolute;
			    top: 60px;
			    left: 60px;
			    z-index: 1;
			}
		    span {
				background: url('../images/tax/地價稅.png');
			    width: 130px;
			    height: 40px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    text-indent: -9999px;
			    position: absolute;
			    top: 150px;
			    left: 35px;
			    &:after {
			    	content:'';
		    		background: url('../images/cost/arrow.png');
		    	    width: 14px;
	    	        height: 8px;
	    	        background-position: 0px 0px;
	    	        background-repeat: no-repeat;
	    	        display: inline-block;
	    	        position: absolute;
	    	        top: 16px;
	    	        right: 20px;
			    }
		    }
		    ul {
		    	width: 120px;
		    	left: 40px;
		    }
		}
		.income {
			cursor: pointer;
			position: absolute;
			top: -20px;
			left: 380px;
			z-index: 2;
			&.active {
				span:after{
					background-position: 0px -8px;
				}
			}
			&:after {
				content:'';
				background: url('../images/tax/income.png');
			    width: 90px;
			    height: 110px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    position: absolute;
			    top: 60px;
			    left: 60px;
			    z-index: 1;
			}
		    span {
				background: url('../images/tax/所得相關稅款.png');
			    width: 180px;
			    height: 40px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    text-indent: -9999px;
			    position: absolute;
			    top: 150px;
			    left:20px;
			    &:after {
			    	content:'';
		    		background: url('../images/cost/arrow.png');
		    	    width: 14px;
	    	        height: 8px;
	    	        background-position: 0px 0px;
	    	        background-repeat: no-repeat;
	    	        display: inline-block;
	    	        position: absolute;
	    	        top: 16px;
	    	        right: 20px;
			    }
		    }
		    ul {
		    	width: 240px;
		    	left: -10px;
		    }
		}
		.shop {
			cursor: pointer;
			position: absolute;
			top: 170px;
			left: 460px;
			&.active {
				span:after{
					background-position: 0px -8px;
				}
			}
			&:after {
				content:'';
				background: url('../images/tax/shop.png');
			    width: 90px;
			    height: 110px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    position: absolute;
			    top: 60px;
			    left: 60px;
			    z-index: 1;
			}
		    span {
				background: url('../images/tax/營業稅相關稅款.png');
			    width: 210px;
			    height: 40px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    text-indent: -9999px;
			    position: absolute;
			    top: 150px;
			    left: 0px;
			    &:after {
			    	content:'';
		    		background: url('../images/cost/arrow.png');
		    	    width: 14px;
	    	        height: 8px;
	    	        background-position: 0px 0px;
	    	        background-repeat: no-repeat;
	    	        display: inline-block;
	    	        position: absolute;
	    	        top: 16px;
	    	        right: 20px;
			    }
		    }
		}
		.building {
			cursor: pointer;
			position: absolute;
			top: 0px;
			left: 800px;
			z-index: 2;
			&.active {
				span:after{
					background-position: 0px -8px;
				}
			}
			&:after {
				content:'';
				background: url('../images/tax/building.png');
			    width: 90px;
			    height: 110px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    position: absolute;
			    top: 60px;
			    left: 60px;
			    z-index: 1;
			}
		    span {
				background: url('../images/tax/房屋土地相關稅款.png');
			    width: 210px;
			    height: 40px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    text-indent: -9999px;
			    position: absolute;
			    top: 150px;
			    left: 0px;
			    &:after {
			    	content:'';
		    		background: url('../images/cost/arrow.png');
		    	    width: 14px;
	    	        height: 8px;
	    	        background-position: 0px 0px;
	    	        background-repeat: no-repeat;
	    	        display: inline-block;
	    	        position: absolute;
	    	        top: 16px;
	    	        right: 20px;
			    }
		    }
		    ul {
		    	width: 200px;
		    	left: 5px;
		    }
		    
		}
		.fine {
			cursor: pointer;
			position: absolute;
			top: 140px;
			left: 720px;
			&.active {
				span:after{
					background-position: 0px -8px;
				}
			}
			&:after {
				content:'';
				background: url('../images/tax/fine.png');
			    width: 90px;
			    height: 110px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    position: absolute;
			    top: 60px;
			    left: 60px;
			    z-index: 1;
			}
		    span {
				background: url('../images/tax/違章罰款.png');
			    width: 140px;
			    height: 40px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    text-indent: -9999px;
			    position: absolute;
			    top: 150px;
			    left: 45px;
			    &:after {
			    	content:'';
		    		// background: url('../images/cost/arrow.png');
		    	    width: 14px;
	    	        height: 8px;
	    	        background-position: 0px 0px;
	    	        background-repeat: no-repeat;
	    	        display: inline-block;
	    	        position: absolute;
	    	        top: 16px;
	    	        right: 20px;
	    	        transition: all 0.5s ease-in-out;
			    }
		    }
		    ul {
		    	width: 240px;
		    	left: -10px;
		    }
		}
		.business {
			cursor: pointer;
			position: absolute;
			top: -40px;
			left: 600px;
			&.active {
				span:after{
					background-position: 0px -8px;
				}
			}
			&:after {
				content:'';
				background: url('../images/tax/business.png');
			    width: 90px;
			    height: 110px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    position: absolute;
			    top: 60px;
			    left: 60px;
			    z-index: 1;
			}
		    span {
				background: url('../images/tax/營利事業相關稅款.png');
			    width: 220px;
			    height: 40px;
			    background-repeat: no-repeat;
			    display: inline-block;
			    text-indent: -9999px;
			    position: absolute;
			    top: 150px;
			    left: 0px;
			    &:after {
			    	content:'';
		    		background: url('../images/cost/arrow.png');
		    	    width: 14px;
	    	        height: 8px;
	    	        background-position: 0px 0px;
	    	        background-repeat: no-repeat;
	    	        display: inline-block;
	    	        position: absolute;
	    	        top: 16px;
	    	        right: 20px;
			    }
		    }
		    ul {
		    	width: 280px;
		    	left: -40px;
		    }
		}
	}
}