.#{$pre}bg{

	&.round{
		border-radius: 10px;
	}

	&.grey{
		// padding-top:1px;
		background-color: $DFColor_LightGrey;
	}
	&.white{
		background-color: #ffffff;
	}
	&.light-rosy{
		background-color: $DFColor_LightRosy;
	}
	&.light-yellow{
		background-color: #fffcec;
	}
	&.lightlight-blue{
		background-color: #f4fbff;
	}

	&.orange{
		background-color: $DFColor_Orange;
	}
	&.rosy{
		background-color: $DFColor_Rosy;
	}
	&.blue{
		background-color: $DFColor_Blue;
	}
	&.green{
		background-color: $DFColor_Green;
	}
}