%heading{
	font-weight: 900;
	margin-bottom: 10px;
	&.orange{
		color: $DFColor_Orange;
	}
	&.rosy{
		color: $DFColor_Rosy;
	}
	&.thin{
		font-weight: 400;
	}
}

.#{$pre}heading{
	@extend %heading;

	&.heading-main{
		font-size: ($f20px*2);
		// @include n-mediaQueryMore($w3-large-size) {
		// 	font-size: ($f20px*2);
		// }
	}

	&.heading-sub-main{
		font-size: ($f16px*2);
	}

	&.heading-title{
		font-size: ($f12px*2);
	}

	&.heading-sub-title{
		font-size: ($f10px*2);
	}

	&.heading-kv{
		.heading-kv-main{
			font-size: ($f15px*3);
			color: $DFColor_Orange;
			font-weight: 900;
			margin: 10px 0;
		}
		.heading-kv-sub{
			font-size: ($f18px*2);
			margin: 10px 0;
			display: none;
			@include nMediaQueryMore($w3-medium-size) {
				display: block;
			}
		}
	}
}