hr{
	&.#{$pre}hr{
		@include nCustomHr($DFColor_Orange);
		&.grey{
			@include nCustomHr($DFColor_Grey);
			&-10{
				@include nCustomHr($DFColor_Grey);
				margin: 10px 0;
			}
			&-20{
				@include nCustomHr($DFColor_Grey);
				margin: 20px 0;
			}
			&-30{
				@include nCustomHr($DFColor_Grey);
				margin: 30px 0;
			}
			&-40{
				@include nCustomHr($DFColor_Grey);
				margin: 40px 0;
			}
			&-50{
				@include nCustomHr($DFColor_Grey);
				margin: 50px 0;	
			}
			&-100{
				@include nCustomHr($DFColor_Grey);
				margin: 100px 0;		
			}
		}
		&.transparent{
			@include nCustomHr(transparent);
			&-10{
				@include nCustomHr(transparent);
				height: 10px;
			}
			&-20{
				@include nCustomHr(transparent);
				height: 20px;
			}
			&-30{
				@include nCustomHr(transparent);
				height: 30px;
			}
			&-40{
				@include nCustomHr(transparent);
				height: 40px;
			}
			&-50{
				@include nCustomHr(transparent);
				height: 50px;
			}
			&-100{
				@include nCustomHr(transparent);
				height: 100px;		
			}
		}
		&.white{
			@include nCustomHr($DFColor_White);
			&-10{
				@include nCustomHr($DFColor_White);
				margin: 10px 0;
			}
			&-20{
				@include nCustomHr($DFColor_White);
				margin: 20px 0;
			}
			&-30{
				@include nCustomHr($DFColor_White);
				margin: 30px 0;
			}
			&-40{
				@include nCustomHr($DFColor_White);
				margin: 40px 0;
			}
			&-50{
				@include nCustomHr($DFColor_White);
				margin: 50px 0;
			}
			&-100{
				@include nCustomHr($DFColor_White);
				margin: 100px 0;
			}
		}
	}	
}