.#{$pre}table{
	td, th{
		vertical-align: middle;
	}	

	&.#{$pre}center{
		th,td {
			text-align: center;
		}
	}

	th,td{
		&:first-child{
			padding-left: 8px;
		}
	}

	&.va-top{
		td,th {
			vertical-align: top;
		}
	}
	&.va-bottom{
		td,th {
			vertical-align: bottom;
		}
	}
	
}

.#{$pre}table-round-head{
	overflow: hidden;
	border-radius: 10px 10px 0 0;
}

.#{$pre}table-title{
	margin: 15px 0;
}

.#{$pre}table-footer{
	margin: 15px 0;
}

%n-table{
	width: 100%;
	display: table;
	> .#{$pre}row{
		&.table-row{
			display: table-row;
			> .#{$pre}col{
				float: none;
				display: table-cell;
				vertical-align: middle;
				*{
					vertical-align: middle;
				}
			}

		}
	}
}

.n-table{
	@extend %n-table;
}

.n-table-large{
	@include nMediaQueryMore($w3-large-size) {
		// @extend %n-table;
		width: 100%;
		display: table;
		> .#{$pre}row{
			&.table-row{
				display: table-row;
				> .#{$pre}col{
					float: none;
					display: table-cell;
					vertical-align: middle;
					*{
						vertical-align: middle;
					}
				}

			}
		}
	}
}

.n-table-medium{
	@include nMediaQueryMore($w3-medium-size) {
		// @extend %n-table;
		width: 100%;
		display: table;
		> .#{$pre}row{
			&.table-row{
				display: table-row;
				> .#{$pre}col{
					float: none;
					display: table-cell;
					vertical-align: middle;
					> *{
						vertical-align: middle;
					}
				}
				> .#{$pre}rest{
					vertical-align: middle;
					> *{
						vertical-align: middle;
					}
				}
			}
		}
	}
}

.#{$pre}row{
    display: table;
    width: 100%;
    .#{$pre}cell{
        display: table-cell;
        vertical-align: middle;
    }
}